body {
    margin: 0;
    color: black;
}

.container{
    width: 80%;
    margin: 0 auto;
}

header {
    min-width: 90%;
    background-color: #7b1fa2;
}

header::after{
    content: "";
    display: table;
    clear: both;
}

nav{
    float: right;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li{
    display: inline-block;
    margin-left: 70px;
    /* padding-top: 25px; */
    /* padding-bottom: 25px; */
}

nav a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    font-family: Arial;
}

nav a:hover{
    opacity: 0.8;
}


nav li:hover{
    fill-opacity: 0.5;
}


.datetime{
    /* text-align: center; */
    /* font-family: Arial; */
    /* font-size: 80px; */
    /* padding: 20px 20px; */
    font-size: 1.25rem;
    color: white;
    padding-right: 20px;
}

/* #attendance { */
/*     margin: 10%; */
/* } */

#attendance {
    position: relative;
    /* padding : 20%; */
    /* padding-top: 5%; */
    /* padding-left: 5%; */
    /* padding-right: 5%; */
    /* margin-left: 5%; */
    /* margin-right: 5%; */
    /* margin-top: 5%; */
    /* margin-bottom: 5%; */
}

.user > div {
    margin-left: 10%;
    margin-top: 1%;
}

#usertitle {
    margin-left: 10%;
}
