<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>FaceFace</title>
    <link rel="stylesheet" href="css/index.css" />
    <link rel="icon" href="media/favicon-eye.ico">
    <script src="js/index.js"></script>
</head>
<body onload="startTime()">
    
    <!--Header-->
    <header>
        <div class="container">
            <nav>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Attendance</a></li>
                    <li><a href="login.html">Back to login (will be removed)</a></li>
                    <li><a href="login.html">Logout</a></li>
                </ul>
            </nav>
        </div>
    </header>
    
    <!--Date and Time Display-->
    <div id="datetime" class="datetime"></div>        

    </body>
</html>